<?xml version="1.0"?>

<config>
    <modules>
        <Biztech_Productpromotion>
            <version>0.1.2</version>
        </Biztech_Productpromotion>
    </modules>
    <frontend>
        <routers>
            <Biztech_productpromotion>
                <use>standard</use>
                <args>
                    <module>Biztech_Productpromotion</module>
                    <frontName>productpromotion</frontName>
                </args>
            </Biztech_productpromotion>
           
            <productpromotion>
                <use>standard</use>
                <args>
                    <module>Biztech_Productpromotion</module>
                    <frontName>productpromotion</frontName>
                </args>
            </productpromotion>
        </routers>
        <layout>
            <updates>
                <productpromotion>
                    <file>productpromotion.xml</file>
                </productpromotion>
            </updates>
        </layout>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <promotional_product>
                        <class>productpromotion/observer</class>
                        <method>modifyPrice</method>
                    </promotional_product>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
        <translate>
            <modules>
                <Biztech_Productpromotion>
                    <files>
                        <default>Biztech_Productpromotion.csv</default>
                    </files>
                </Biztech_Productpromotion>
            </modules>
        </translate>
    </frontend>
     <admin>
        <routers>
                <adminhtml>
                    <args>
                    <modules>
                        <productpromotion after="Mage_Adminhtml">Biztech_Productpromotion_Adminhtml</productpromotion>
                        </modules>
                    </args>
                </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <productpromotion module="productpromotion">
                <title>Gift Promotions On Cart Total</title>
                <sort_order>71</sort_order>
              <children>
                    <items module="productpromotion">
                        <title>Manage Promotions</title>
                        <sort_order>0</sort_order>
                        <action>productpromotion/adminhtml_productpromotion</action>
                         <action>adminhtml/productpromotion/index</action>
                    </items>
                </children>
            </productpromotion>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <biztech_productpromotion>
                                            <title>Product Promotion</title>
                                        </biztech_productpromotion>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <productpromotion>
                    <file>productpromotion.xml</file>
                </productpromotion>
            </updates>
        </layout>
        <translate>
            <modules>
                <Biztech_Productpromotion>
                    <files>
                        <default>Biztech_Productpromotion.csv</default>
                    </files>
                </Biztech_Productpromotion>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_biztech_productpromotion>
                <observers>
                    <productpromotion_key>
                        <type>model</type>
                        <class>productpromotion/observer</class>
                        <method>checkKey</method>
                    </productpromotion_key>
                </observers>
            </admin_system_config_changed_section_biztech_productpromotion>
        </events>
    </adminhtml>
    <global>
        <models>
           <checkout>
                <rewrite>
                    <cart>Biztech_Productpromotion_Model_Cart</cart>
                </rewrite>
            </checkout>
            <productpromotion>
                <class>Biztech_Productpromotion_Model</class>
                <resourceModel>productpromotion_mysql4</resourceModel>
            </productpromotion>
            <productpromotion_mysql4>
                <class>Biztech_Productpromotion_Model_Mysql4</class>
                <entities>
                    <productpromotion>
                        <table>productpromotion</table>
                    </productpromotion>
                    
                    <productpromotiondata>
                        <table>productpromotion_data</table>
                    </productpromotiondata>
                </entities>
            </productpromotion_mysql4>
        </models>
        <resources>
            <productpromotion_setup>
                <setup>
                    <module>Biztech_Productpromotion</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productpromotion_setup>
            <productpromotion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productpromotion_write>
            <productpromotion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productpromotion_read>
        </resources>
        <blocks>
            <productpromotion>
                <class>Biztech_Productpromotion_Block</class>
            </productpromotion>
          </blocks>
        <helpers>
            <productpromotion>
                <class>Biztech_Productpromotion_Helper</class>
            </productpromotion>
        </helpers>
    </global>
</config>
